html, body {
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: black;
}

header:before {
    filter: blur(3px);
}

header {
    height: 100vh;
    background-image: url(lost-in-space.jpg);
    filter: grayscale(80%);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 3em;
}

h4 {
    margin: 0px auto 50px;
    font-size: 20px;
}

.cta {
    display: block;
    height: auto;
    padding: 25px 25px;
    width: 150px;
    background: white;
    color: black;
    text-align: center;
    font-weight: 700;
    border-radius: 30px;
    margin-bottom: 100px;
}